@import url(./css/header.css);
@import url(./css/hero.css);
@import url(./css/nav.css);
@import url(./css/under-the-title.css);
@import url(./css/card.css);
@import url(./css/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 960px;
  margin: auto;
}

@media screen and (max-width: 1030px) {
  .container {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
}

button {
  background-color: transparent;
  border: none;
}

.btn {
  width: 62px;
  height: 27px;
  background: #D9D9D9;
}